<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <ul class="lorem-text">
      <li class="lorem-item">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima error,
        commodi, incidunt praesentium nihil tempora, ratione illum laudantium
        aliquid unde nulla animi saepe delectus ipsum consequatur corrupti odit
        omnis ipsam perspiciatis earum veritatis tempore sit tenetur
        consectetur. Placeat, ipsam tempore.
      </li>
    </ul>
    <img src="../img/logoimg.png" alt="" />
  </body>
</html>
